In [1]:
import pandas as pd

In [3]:
depre_indicators = pd.read_csv('./../data/adult-depression-lghc-indicator-2.csv')

In [4]:
depre_indicators.head()

,Year,Strata,Strata Name,Frequency,Weighted Frequency,Percent,Lower 95% CL,Upper 95% CL
0,2012,Total,Total,1920,NaN,11.74,11.11,12.37
1,2012,Sex,Male,561,1116664.0,8.12,7.32,8.92
2,2012,Sex,Female,1359,2163108.0,15.25,14.30,16.20
3,2012,Race-Ethnicity,White,1314,1806371.0,14.57,13.67,15.46
4,2012,Race-Ethnicity,Black,97,222022.0,13.54,10.44,16.65

In [5]:
depre_indicators.shape

(161, 8)

In [6]:
depre_indicators.dtypes

Year                    int64
Strata                 object
Strata Name            object
Frequency               int64
Weighted Frequency    float64
Percent               float64
Lower 95% CL          float64
Upper 95% CL          float64
dtype: object